html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    background: var(--bg-color-main);
    overflow-x: hidden;
}

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

:root {
    --bg-color-main: #F7F8FD;
    --bg-color-secondary: #ffffff;
    --bg-color-accent: #F8F9FD;
    --text-primary: #111827;
    --text-secondary: #4b5563;
    --border-primary: #e3e3e3;
    --color-green: #005c00;
    --color-green-hover: rgb(1, 202, 1);
    --color-green-light: rgb(0, 181, 0);
    --color-green-lighter: rgb(142, 232, 142);
}